<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <title>Netflix</title>
    <script src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
    <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
    <style>
      *{
        color : '#fff';
        margin :0;
        padding :0;
      }
    </style>
</head>
<body>
    <div id="app"></div>
    <script type="text/babel">
      class Hello extends React.Component {
        render() {
          return (
            <div style={{display:'flex',alignItems:'center',justifyContent:'center',flexDirection:'column',height:'100vh',width:'100%',backgroundSize:'cover',backgroundPosition:'center',backgroundImage:"url('https://assets.nflxext.com/ffe/siteui/vlv3/5eab1b22-c5ea-48b0-8ef4-862b3fa6df2c/2d066c7f-3734-4a33-a977-acb27e1a91b0/ID-id-20230724-popsignuptwoweeks-perspective_alpha_website_small.jpg')"}}>
              <div style={{background:'rgba(0,0,0,0.5)',width:'100%',height:'100%',position:'absolute',top:0,left:0,}}></div>
              <Header />
              <Content />
            </div>
          )
        }
      }
      function Header(){
        return (
          <div>
            <h1><img src='' /></h1>
          </div>
        )
          
      }
      function Content(){
        return ( 
          <div style={{color:'#fff',display:'flex', flexDirection:'column', alignItems:'center',justifyContent:'center'}}>
            <h1 style={{margin:'10px 0',fontSize:'48px'}}>Film Acara...</h1>
            <p>Tonton dimanapun,...</p>
            <p>Siap Menonton...</p>
            <div>
              <input type="text" placeholder="Alamat Email" />
              <button>Mulai</button>
            </div>
          </div>
        )
      }
      ReactDOM.render(<Hello/>, document.getElementById("app"));
    </script>
</body>
</html>
